@model RestaurantLibrary.Models.Restaurant

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @ViewBag.restaurant.Name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @ViewBag.restaurant.Location
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>

        <dd>
            @ViewBag.restaurant.AverageRating
        </dd>
       

    </dl>
    <div>
        @{ Html.RenderPartial("_Reviews", ViewData);}

        @{ Html.RenderPartial("_New", ViewData);}
    </div>
</div>

